@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
.open-sans-100 {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
h1,
h2,
h3,
.open-sans-800 {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

strong {
	font-weight: 800;
}

.bg-rose-600 {
	background-color: #fd0836;
}
.bg-blue-950 {
	background-color: #16012f;
}
.text-rose-600 {
	color: #fd0836;
}
.text-blue-950 {
	color: #16012f;
}
